<!DOCTYPE html>
<html>
<%- include navBar.ejs %>
<link rel='stylesheet' href='/stylesheets/booksSection.css'/>
<body>

<h3>My Books on sales:</h3>
<div class="grid-container">
    <% for (var i = 0; i < list.length; i++) { %>
    <div class = "box">
    Book<%=i+1%>:
    <div><%= list[i].bookName%></div>
    <div><%= list[i].authorName%></div>
    <div>Category:<%= list[i].category%></div>
    <div>Price:<%= list[i].price%></div>
    <button type="button">
        <a href="/users/deleteBooks?id=<%= list[i]._id %>">
            Delete
        </a>
    </button>
    <br><br>
    <% } %>
    </div>
</div>

</body>
</html>