<!DOCTYPE html>
<html>
<%- include users.ejs%>
<body>

<div class="get">
    <h3>My Books on sales:</h3>

    <% for (var i = 0; i < list.length; i++) { %>
    Book<%=i+1%>:
    <div><%= list[i].bookName%></div>
    <div><%= list[i].authorName%></div>
    <div>Category:<%= list[i].category%></div>
    <div>Price:<%= list[i].price%></div>
    <button type="button">
        <a href="/users/deleteBooks?id=<%= list[i]._id %>">
            Delete
        </a>
    </button>
    <br><br>
    <% } %>
</div>

</body>
</html>